* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Raleway');

html,h1,h2,h3,h4,h5,h6,a{
    font-family: "Raleway";
}

header {
    height: 100vh;
    background-image: url(headerback.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#overlay {
  position: absolute; /* Sit on top of the page content */
  min-height: 100vh;
  min-width: 100vw;
  left: 0;
  top: 0;
  background: rgba(244, 244, 244, 0.79);
}
