 .mercury {
 	background-color: dimgray;
 }
 .venus{
 	background-color: darkblue;
 }
 .earth{
 	background-color: cyan;
 }
 .mars{
 	background-color: indianred;
 }
 .jupiter{
 	background-color: sandybrown;
 }
 .saturn{
 	background-color: lightyellow;
 }
 .uranus{
 	background-color: deeppink;
 }
 .neptune{
 	background-color: azure;
 }