body {
	width: 800px;
	height: 725px;
	margin-left: 100px;
	margin-top: 100px;
	justify-content: space-around;
	background-image: url("background.jpg");
	background-size: 45%;
	background-repeat: no-repeat;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 800px;
	height: 225px;
	border: 3px solid black;
	padding: 10px;
}

.name-profession {
	float: left;
}

img {
	width: 200px;
	float: right;
}

.body {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 800px;
	height: 530px;
	border: 3px solid black;
	padding: 10px;
}

.left {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 500px;
}

.contact {

}

.education {

}

.right {
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 500px;
	float: right;
}


