
body {
	width: 720px;
	height: 720px;
}

.box {
	width: 40px;
	height: 40px;
}

.first {
	grid-area: first;
	display: flex;
	gap: 5px;
}

.second {
	grid-area: second;
	display: flex;
	gap: 5px;
}

.third {
	grid-area: third;
	display: flex;
	gap: 5px;
}

.fourth {
	grid-area: fourth;
	display: flex;
	gap: 5px;
}

.fifth {
	grid-area: fifth;
	display: flex;
	gap: 5px;
}

.sixth {
	grid-area: sixth;
	display: flex;
	gap: 5px;
}

.seventh {
	grid-area: seventh;
	display: flex;
	gap: 5px;
}

.eighth {
	grid-area: eighth;
	display: flex;
	gap: 5px
}

.ninth {
	grid-area: ninth;
	display: flex;
	gap: 5px
}

.tenth {
	grid-area: tenth;
	display: flex;
	gap: 5px
}

.eleventh {
	grid-area: eleventh;
	display: flex;
	gap: 5px
}

.twelfth {
	grid-area: twelfth;
	display: flex;
	gap: 5px
}

.thirteenth {
	grid-area: thirteenth;
	display: flex;
	gap: 5px
}

.fourteenth {
	grid-area: fourteenth;
	display: flex;
	gap: 5px
}

.fifteenth {
	grid-area: fifteenth;
	display: flex;
	gap: 5px
}

.sixteenth {
	grid-area: sixteenth;
	display: flex;
	gap: 5px
}

.one {
	background-color: orange;
}

.two {
	background-color: peachpuff;
}

.three {
	background-color: darkred;
}

.grid-container {
	display: grid;
	grid-template-areas:
	'first'
	'second'
	'third'
	'fourth'
	'fifth'
	'sixth'
	'seventh'
	'eighth'
	'ninth'
	'tenth'
	'eleventh'
	'twelfth'
	'thirteenth'
	'fourteenth'
	'fifteenth'
	'sixteenth';
	border: 2px solid black;
	grid-row-gap: 5px;
	padding: 2px;
	margin: auto;
}