ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

body {
  background-image: url(Avengers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 30px;
  margin-top: 150px;
}

h1 {
  font-size: 80px;
}

.paragraph {
  font-size: 14px;
  width: 50%;

}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  justify-content: center;
  align-content: center;
}

@media screen
 and (min-width: 600px) 
 and (max-width: 767px) {
  h1 {
    font-size: 35px;
  }

  li {
    color: black;
    background-color: yellow;
  }
}

@media screen 
and (min-width: 768px)
and (max-width: 991px) {
  h1 {
    font-size: 25px;
  }
  li {
    color: black;
    background-color: lightgreen;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
}

@media screen 
and (min-width: 992px)
and (max-width: 1199px) {
  navbar {
    color: white;
    background-color: red;
  }

  .container {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  nav {
    color: white;
    background-color: black;
  }
}

